### Filter for Europe in OECD

In [1]:
import pandas as pd

In [3]:
df_oecd =  pd.read_csv("../../1. Data Acquisition/data/oecd_data.csv")

In [5]:
df_oecd["Reference area"].unique()

array(['Australia', 'Austria', 'Belgium', 'Bulgaria', 'Canada',
       'Switzerland', 'Czechia', 'Germany', 'Denmark', 'Spain', 'Estonia',
       'Finland', 'France', 'United Kingdom', 'Greece', 'Croatia',
       'Hungary', 'Ireland', 'Israel', 'Italy', 'Japan', 'Korea',
       'Lithuania', 'Luxembourg', 'Latvia', 'Netherlands', 'Norway',
       'New Zealand', 'Poland', 'Portugal', 'Romania', 'Russia',
       'Slovak Republic', 'Slovenia', 'Sweden', 'United States',
       'South Africa'], dtype=object)

In [9]:
countries_to_drop = ['Australia', 'Canada', 'Israel','Japan', 'Korea',  'New Zealand', 'Russia' , 'United States',
       'South Africa']

In [10]:
rows_to_keep = ~df_oecd["Reference area"].isin(countries_to_drop)

df_filtered = df_oecd[rows_to_keep]

In [11]:
df_filtered["Reference area"].unique()

array(['Austria', 'Belgium', 'Bulgaria', 'Switzerland', 'Czechia',
       'Germany', 'Denmark', 'Spain', 'Estonia', 'Finland', 'France',
       'United Kingdom', 'Greece', 'Croatia', 'Hungary', 'Ireland',
       'Italy', 'Lithuania', 'Luxembourg', 'Latvia', 'Netherlands',
       'Norway', 'Poland', 'Portugal', 'Romania', 'Slovak Republic',
       'Slovenia', 'Sweden'], dtype=object)

In [13]:
df_filtered["REF_AREA"].unique()

array(['AUT', 'BEL', 'BGR', 'CHE', 'CZE', 'DEU', 'DNK', 'ESP', 'EST',
       'FIN', 'FRA', 'GBR', 'GRC', 'HRV', 'HUN', 'IRL', 'ITA', 'LTU',
       'LUX', 'LVA', 'NLD', 'NOR', 'POL', 'PRT', 'ROU', 'SVK', 'SVN',
       'SWE'], dtype=object)

In [14]:
df_filtered.head()

,REF_AREA,Reference area,Business development stage,TIME_PERIOD,OBS_VALUE
52,AUT,Austria,Later stage venture,2007,35.575349
53,AUT,Austria,Start-up and other early stage,2007,40.423894
54,AUT,Austria,Total,2007,85.421197
55,AUT,Austria,Seed,2007,9.421954
56,AUT,Austria,Seed,2008,7.758235

In [15]:
new_cols = ["country_code", "country", "business_dev_satge", "year", "amount"]

In [16]:
df_filtered.columns = new_cols

In [17]:
df_filtered.head()

   country_code  country              business_dev_satge  year     amount
52          AUT  Austria             Later stage venture  2007  35.575349
53          AUT  Austria  Start-up and other early stage  2007  40.423894
54          AUT  Austria                           Total  2007  85.421197
55          AUT  Austria                            Seed  2007   9.421954
56          AUT  Austria                            Seed  2008   7.758235

In [18]:
df_filtered.to_csv('../data/OECD_eu_investment.csv', index=False)